<header></header>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <section flex layout-sm="column" layout-align="center center" layout-wrap>                        
            <h1>LOGIN PAGE</h1>
            <form>
                <md-content flex=50 class="md-no-momentum">
                <md-input-container class="md-block">
                    <input type="email" ng-model="userAuth.email" ng-trim="true" placeholder="Email (required)" ng-required="true">
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                        <label>Password</label>
                        <input type="password" ng-model="userAuth.password" ng-trim="true" ng-required="true">
                    </md-input-container>
                </md-content>
                <span ng-if="errorAuth">ERROR ACCESS!</span>
                <md-button ng-click="siginIn()" class="md-raised md-primary">Sigin In</md-button>
            </form>
        </section>
    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->